/* START */

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #777;
}

/* VARIABLES*/
:root {
    --mainColor: rgba(0,0,0,1);
    --secondColor: rgba(255,255,255,1);
    --thirdColor:  #777;
  }

/* GRID CONTAINER & AREA hola*/ 
.gridContainer {
  
    display: grid;
    grid-template-areas:
    'jay jay jay jay jay jay'
    'javier javier javier javier javier2 javier2'
    'stefan stefan stefan stefan stefan stefan'
    'isaac isaac isaac isaac isaac isaac';
}
























   

















































/* JAY's PART START */



















































    





































































































































































































/* JAY's PART END */

/* JAVIER's PART START */
.containerJ{
    grid-area: javier;
    height: 300px;
    background-color:var(--mainColor);

}
.containerJ2{
    grid-area: javier2;
    height: 200px;
    
    background-color:var(--thirdColor);
    color:var(--secondColor);
}























































































































































































































































/* JAVIER's PART END  */

/* STEFAN's PART START */

























































































































































































































































/* STEFAN's PART END */

/* ISAAC's PART END */

























































































































































































































































/* ISAAC's PART END */



































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    
