/*----START----*/
/*--RULES: ///////////////////////////////////////////////////////////////////////
        a)  .camelCase  (Example: .sidebarLeft, #navbarTop, .divMobile)
        b)  .purposeX (Example: .containerJay, #someDivS [Jay= Jay, J=Javier, S=Stefan, I=Isaac])
        c)  /* REMEMBER TO COMMENT *\
        d)  check your lines before your pull request:

  --LINES CSS:  Jay :   100 - 350     --LINES HTML: Jay     50 - 300
                Javier: 352 - 602                   Javier  302 - 552
                Stefan: 604 - 854                   Stefan  554 - 804
                Isaac:  856 - 1106                  Isaac   806 - 1056
////////////////////////////////////////////////////////////////////////////////*/
/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #777;
    /* font-family: Arial, Helvetica, sans-serif; */
}

/* VARIABLES*/
:root {
    --mainColor: rgba(0,0,0,1);
    --secondColor: rgba(255,255,255,1);
    --thirdColor:  #777;

  }

/* GRID CONTAINER & AREA*/ 
.gridContainer {
    display: grid;
    grid-template-areas:
    'jay jay jay jay jay jay'
    'javier javier javier javier javier javier'
    'stefan stefan stefan stefan stefan stefan'
    'isaac isaac isaac isaac isaac isaac';
}
























   




































/* JAY's PART START */



















































    





































































































































































































/* JAY's PART END */

/* JAVIER's PART START */

























































































































































































































































/* JAVIER's PART END  */

/* STEFAN's PART START */

.graphBarS {
    grid-area: stefan;
}
























































































































































































































































/* STEFAN's PART END */

/* ISAAC's PART START */

























































































































































































































































/* ISAAC's PART END */



































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    
