/*----START----*/
/*--RULES: ///////////////////////////////////////////////////////////////////////
        a)  .camelCase  (Example: .sidebarLeft, #navbarTop, .divMobile)
        b)  .purposeX (Example: .containerJay, #someDivS [Jay= Jay, J=Javier, S=Stefan, I=Isaac])
        c)  /* REMEMBER TO COMMENT *\
        d)  check your lines before your pull request:

  --LINES CSS:  Jay :   100 - 350     --LINES HTML: Jay     50 - 300
                Javier: 352 - 602                   Javier  302 - 552
                Stefan: 604 - 854                   Stefan  554 - 804
                Isaac:  856 - 1106                  Isaac   806 - 1056
////////////////////////////////////////////////////////////////////////////////*/
/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--thirdColor);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* VARIABLES*/
:root {
    --mainColor: rgba(0, 0, 0, 1);
    --secondColor: rgba(255, 255, 255, 1);
    --thirdColor: rgba(119, 119, 119, 1);
}

/* GRID CONTAINER & AREA*/
.gridContainer {
    display: grid;
    grid-template-areas:
        'jay jay jay jay jay jay'
        'javier javier javier javier javier javier'
        'stefan stefan stefan stefan stefan stefan'
        'isaac isaac isaac isaac isaac isaac';
}

/* GRID CONTAINER & AREA END */

/* RETURN TO TOP BUTTON */
#returnToTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    font-size: 3rem;
    border-radius: 50%;
    /* background-color: var(--secondColor); */
    text-shadow: 2px 2px 12px rgb(59, 59, 59);
    transition: color 0.3s ease-in;
}

#returnToTop:hover {
    color: var(--secondColor);
}

/* Simulated click: moves down, makes shadow darker*/
#returnToTop:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 12px rgb(29, 29, 29);
}

/* RETURN TO TOP BUTTON END*/



































/* JAY's PART START */

.header-J {

    position: relative;
    grid-area: jay;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(73, 70, 70, 0.8), rgba(129, 111, 111, 0.5)), url(/images/G-5.jpg) center no-repeat;
    background-size: cover
}

video {
    position: absolute;
    opacity: .5;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    height: 100%;

}

/* start of the navbar with all the animation and etc */
#nav-J {
    position: relative;
}

#nav-J>ul {
    display: flex;
    position: absolute;
    right: 5rem;
}

#nav-J>ul>li {
    list-style-type: none;
    transform: translate(100rem);
    margin: 2rem 1rem;
    animation: slideIn 1s forwards
}

#nav-J>ul>li>a {
    text-decoration: none;
    font-size: .7rem;

    text-transform: uppercase;
    color: var(--thirdColor);
    padding: 1rem;
    letter-spacing: 2px;
}

#nav-J>ul>li:nth-child(2) {
    animation-delay: .25s
}

#nav>ul>li:nth-child(3) {
    animation-delay: .5s
}

#nav-J>ul>li:nth-child(4) {
    animation-delay: .75s
}


@keyframes slideIn {
    from {
        transform: translateX(100rem);

    }

    to {
        transform: translateX(0)
    }
}

/*END OF THE NAVBAR   */



/*start of the legendary g 5 AND THE CHILDREN */
.mainG5-J{
    position: absolute;
    position: absolute;
    left: 30%;
    top: 40%;
    animation: animate cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-duration: 3s;
    transition: 1s
}
.G-05-J {
    position: relative;
    
    text-align: center;
    
}

.G-05-J>h3 {
    font-size: 2rem;
    padding: 3rem;
    animation: animate cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-duration: 3s;
    letter-spacing: 2px;
    transition: 2s
}

/* it is the subnav under G-05 icon */
.subNav-J {
    position: absolute;
    list-style-type: none;
    LEFT:50%;
    top: 50%;
    opacity: .7;
    height: 0;
    transition: 1s;

}

.subNav-J>li {
    margin: 1rem;
    position: absolute;
    width: 0;
    height: 0;
    background-color: var(--thirdColor);
    text-align: center;
    border-radius: 50%;
    overflow: hidden;

    transition: 1s
}

.subNav-J>li>a {
    text-decoration: none;
    color: black;
    text-align: center;
    letter-spacing: 2px
}

.G-05-J h3:hover {
    cursor: pointer;
    top: 48vh;
    transform: scale(1.02);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .6)
}

/* The positioning of names after hoverin g5 */
.G-05-J:hover .subNav-J>:first-child {
    width: 12vw;
    transform: translate(11vw, -20vh);
    padding: 50px;
    height: auto;
    box-shadow: 10px 10px 10px;
    background-color: rgba(255, 255, 255, .6);
}

.G-05-J:hover .subNav-J>:nth-child(2) {
    width: 12vw;
    transform: translate(-20vw, -20vh);
    padding: 50px;
    height: auto;
    box-shadow: 10px 10px 10px;
    background-color: rgba(255, 255, 255, .6)
}

.G-05-J:hover .subNav-J>:nth-child(3) {
    width: 12vw;
    transform: translate(-20vw, 10vh);
    padding: 50px;
    height: auto;
    box-shadow: 10px 10px 10px;
    background-color: rgba(255, 255, 255, .6)
}

.G-05-J:hover .subNav-J>:last-child {
    width: 12vw;
    transform: translate(11vw, 10vh);
    padding: 50px;
    height: auto;
    box-shadow: 10px 10px 10px;
    background-color: rgba(255, 255, 255, .6)
}
/* END OF THE POSITIONING OF NAMES UNDER G-5 */



/* STRAT OF NABAR ANIMATION */
@keyframes animate {
    0% {
        opacity: 0;
        left: 5vw;
        transform: rotateY(90deg);
        filter: blur(10px)
    }

    100% {
        opacity: 1;
        left: 30%;
        transform: rotateY(0deg);
        filter: blur(0)
    }

}

/* END OF NAVBAR ANIMATION */























































































































































































































































/* JAY's PART END */

/* JAVIER's PART START */

























































































































































































































































/* JAVIER's PART END  */

/* STEFAN's PART START */

.stefan {
    grid-area: stefan;
    position: relative;
    width: 100vw;
}


.containerBarS {
    position: absolute;
    width: 100vw;
    background: rgba(115, 115, 115, 0.6)
}

.logoFA {
    font-size: 3rem;
    color: var(--thirdColor);
}

/* Knowledge-Bar */
#bar {
    list-style: none;
}

/* Bar-Top-Part */
#bar li div.top {
    background-color: rgba(119, 119, 119, 0.6);
    position: relative;
    width: 100px;
    height: 40px;
    /*-moz-border-radius: 100px/40px; -webkit-border-radius: 100px 40px;*/
    border-radius: 100px/40px;
}

/* logoFAs hidden/unhidden for hover */
#bar li div.top i {
    display: none;
}

#bar li:hover div.top i {
    display: inline;
}

/* Bar-Bottom-Part */
#bar li div.bottom {
    background-color: rgba(115, 115, 115, 0.6);
    margin-top: -40px;
    position: relative;
    width: 100px;
    -moz-border-radius: 100px/40px;
    -webkit-border-radius: 100px 40px;
    border-radius: 100px/40px;
}

/* Z-Index Hierarchies & 3D-Color Effect*/
#javaScript div.top {
    z-index: 99;
}

#javaScript div.bottom {
    z-index: 98;
    height: 120px;
}

#javaScript:hover div.top {
    z-index: 999;
    background-color: rgba(119, 119, 119, 0.2);
}

#javaScript:hover div.bottom {
    z-index: 998;
    background-color: rgba(119, 119, 119, 1);
    background: linear-gradient(-90deg, rgba(119, 119, 119, 1), rgba(119, 119, 119, 0.4));
    /* background:-webkit-gradient(linear, 0 top, 0 bottom, from(#1a6c90), to(#14506b));*/
}

#css div.top {
    z-index: 97;
}

#css div.bottom {
    z-index: 96;
    height: 120px;
}

#css:hover div.top {
    z-index: 997;
    background-color: rgba(119, 119, 119, 0.2);
}

#css:hover div.bottom {
    z-index: 996;
    background-color: rgba(119, 119, 119, 1);
    background: linear-gradient(-90deg, rgba(119, 119, 119, 1), rgba(119, 119, 119, 0.4));
}

#html div.top {
    z-index: 95;
}

#html div.bottom {
    z-index: 94;
    height: 120px;
}

#html:hover div.top {
    z-index: 995;
    background-color: rgba(119, 119, 119, 0.2);
}

#html:hover div.bottom {
    z-index: 994;
    background-color: rgba(119, 119, 119, 1);
    background: linear-gradient(-90deg, rgba(119, 119, 119, 1), rgba(119, 119, 119, 0.4));
}

#github div.top {
    z-index: 93;
}

#github div.bottom {
    z-index: 92;
    height: 120px;
}

#github:hover div.top {
    z-index: 993;
    background-color: rgba(119, 119, 119, 0.2);
}

#github:hover div.bottom {
    z-index: 992;
    background-color: rgba(119, 119, 119, 1);
    background: linear-gradient(-90deg, rgba(119, 119, 119, 1), rgba(119, 119, 119, 0.4));
}

#git div.top {
    z-index: 91;
}

#git div.bottom {
    z-index: 90;
    height: 120px;
}

#git:hover div.top {
    z-index: 991;
    background-color: rgba(119, 119, 119, 0.2);
}

#git:hover div.bottom {
    z-index: 990;
    background-color: rgba(119, 119, 119, 1);
    background: linear-gradient(-90deg, rgba(119, 119, 119, 1), rgba(119, 119, 119, 0.4));
}

#linux div.top {
    z-index: 89;
}

#linux div.bottom {
    z-index: 88;
    height: 120px;
}

#linux:hover div.top {
    z-index: 989;
    background-color: rgba(119, 119, 119, 0.2);
}

#linux:hover div.bottom {
    z-index: 988;
    ;
    background-color: rgba(119, 119, 119, 1);
    background: linear-gradient(-90deg, rgba(119, 119, 119, 1), rgba(119, 119, 119, 0.4));
}

.logoDCI {
    margin-top: -170px;
    transform: skewX(15deg);
    z-index: -999
}










































































































































































/* STEFAN's PART END */

/* ISAAC's PART START */

























































































































































































































































/* ISAAC's PART END */
