/*----START----*/
/*--RULES: ///////////////////////////////////////////////////////////////////////
        a)  .camelCase  (Example: .sidebarLeft, #navbarTop, .divMobile)
        b)  .purposeX (Example: .containerJay, #someDivS [Jay= Jay, J=Javier, S=Stefan, I=Isaac])
        c)  /* REMEMBER TO COMMENT *\
        d)  check your lines before your pull request:

  --LINES CSS:  Jay :   100 - 350     --LINES HTML: Jay     50 - 300
                Javier: 352 - 602                   Javier  302 - 552
                Stefan: 604 - 854                   Stefan  554 - 804
                Isaac:  856 - 1106                  Isaac   806 - 1056
////////////////////////////////////////////////////////////////////////////////*/
/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--thirdColor);
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* VARIABLES*/
:root {
    --mainColor: rgba(0, 0, 0, 1);
    --secondColor: rgba(255, 255, 255, 1);
    --thirdColor: rgba(119, 119, 119, 1);
}

/* GRID CONTAINER & AREA*/
.gridContainer {
    display: grid;
    grid-template-areas:
        'jay jay jay jay jay jay'
        'javier javier javier javier javier javier'
        'stefan stefan stefan stefan stefan stefan'
        'isaac isaac isaac isaac isaac isaac';
}

/* GRID CONTAINER & AREA END */

/* RETURN TO TOP BUTTON */
#returnToTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9999;
    font-size: 3rem;
    border-radius: 50%;
    /* background-color: var(--secondColor); */
    text-shadow: 2px 2px 12px rgb(59, 59, 59);
    transition: color 0.3s ease-in;
}

#returnToTop:hover {
    color: var(--secondColor);
}

/* Simulated click: moves down, makes shadow darker*/
#returnToTop:active {
    transform: translateY(2px);
    box-shadow: 1px 1px 12px rgb(29, 29, 29);
}

/* RETURN TO TOP BUTTON END*/


































/* JAY's PART START */
.header {
    grid-area: jay;
    width: 100%;
    height: 100vh;

    position: relative;
    justify-content: center;
    justify-items: center;
    overflow: hidden;



}

video {
    position: absolute;
    opacity: .5;
    width: 100%;
    overflow: hidden;

}

.header img {
    position: absolute;
    width: 100%;
    height: 100%;
    /* opacity: .8; */
    z-index: 0;
    overflow: hidden;


}



.gridContainer>.header>#nav>ul {
    position: absolute;
    margin: 1rem;
    z-index: 1;
    left: 13vw;
}


.header>#nav>ul>li{
list-style-type: none;
float: left;

}

#nav>ul>li>a{
    text-decoration: none;
    text-align: center;
     color: black;
    margin: 1rem;
width: 15vw;
text-transform: uppercase;
letter-spacing: 3px;
padding: 15px;
background-color: var(--thirdColor) ;
float: left;
box-shadow: 10px 10px 30px rgb(92, 86, 86);
border-radius: 10%;
text-align: center;
transition: transform .5s

}

#nav>ul>li>a:hover{
    transform: scale(1.3);
    background-color: aliceblue;
    color: black
}
#nav{
    /* position: relative; */
}

.G-05{
    position: absolute;
    left: 45vw;
    top: 50vh;
    color: black;
    width: 10vw;
    padding: 5vh;
    background-color: var(--thirdColor);
    border-radius: 10%;
    text-align: center;
    box-shadow: 10px 10px 10px;
    animation: animate  cubic-bezier(0.445, 0.05, 0.55, 0.95) ;
    animation-duration: 3s;
    transition: 1s
}
.G-05>h3{
    color: var(--firstcolor);
    animation: animate  cubic-bezier(0.445, 0.05, 0.55, 0.95) ;
    animation-duration: 6s
}
/* it is the subnav under G-05 icon */
.subNav{
    position: relative;
    list-style-type: none;
    LEFT: 9VH;
    top:-2.5vh;
    opacity: .7;
    height:0; 
    transition: 1s;
        
}

.subNav>li{
    margin: 1rem;
    position: absolute;
    /* width: 12vw; */
    width: 0;
     height: 0;
    /* padding: 50px; */
    background-color: var(--thirdColor);
    text-align: center;
    border-radius: 50%;
    overflow: hidden;

transition: 1s
}

.subNav>li>a{
    text-decoration: none;
    color: black;
    text-align: center;
    letter-spacing: 2px
}
.G-05:hover{
    cursor: pointer;
    top: 48vh;
    transform: scale(1.02);
    border-radius: 50%;
    background-color: rgba(255, 255, 255,.6)
   
}

.G-05:hover .subNav>:first-child{
    width: 12vw;
     transform: translate(11vw, -20vh);
    padding: 50px;
    height: auto;
    box-shadow: 10px 10px 10px;
    background-color: rgba(255, 255, 255,.6);
}
.G-05:hover .subNav>:nth-child(2){
    width: 12vw;
    transform: translate(-20vw, -20vh);
    padding: 50px;
    height: auto;
    box-shadow: 10px 10px 10px;
    background-color: rgba(255, 255, 255,.6)
}
.G-05:hover .subNav>:nth-child(3){
    width: 12vw;
     transform: translate(-20vw, 10vh);
    padding: 50px;
    height: auto;
    box-shadow: 10px 10px 10px;
    background-color: rgba(255, 255, 255,.6)
}
.G-05:hover .subNav>:last-child{
    width: 12vw;
     transform: translate(11vw, 10vh);
    padding: 50px;
    height: auto;
    box-shadow: 10px 10px 10px;
    background-color: rgba(255, 255, 255,.6)
}


@keyframes animate {
    0%{
        opacity: 0;
        left: 5vw;
        transform: rotateY(90deg);
        filter: blur(10px)
    }
    100%{
        opacity: 1;
        left: 45vw;
        transform: rotateY(0deg);
        filter: blur(0)

    }

    }

.G-05 {
    position: absolute;
    left: 45vw;
    top: 50vh;
    color: black;
    width: 10vw;
    padding: 5vh;
    background-color: var(--thirdColor);
    border-radius: 10%;
    text-align: center;
    box-shadow: 10px 10px 10px;
    animation: animate cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-duration: 3s;
    transition: 1s
}

.G-05>h3 {
    color: var(--firstcolor);
    animation: animate cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-duration: 6s
}

/* it is the subnav under G-05 icon */
.subNav {
    position: relative;
    list-style-type: none;
    LEFT: 9VH;
    top: -2.5vh;
    opacity: .7;
    height: 0;
    transition: 1s;

}

.subNav>li {
    margin: 1rem;
    position: absolute;
    /* width: 12vw; */
    width: 0;
    height: 0;
    /* padding: 50px; */
    background-color: var(--thirdColor);
    text-align: center;
    border-radius: 50%;
    overflow: hidden;

    transition: 1s
}

.subNav>li>a {
    text-decoration: none;
    color: black;
    text-align: center;
    letter-spacing: 2px
}

.G-05:hover {
    cursor: pointer;
    top: 48vh;
    transform: scale(1.02);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .6)
}

.G-05:hover .subNav>:first-child {
    width: 12vw;
    transform: translate(11vw, -20vh);
    padding: 50px;
    height: auto;
    box-shadow: 10px 10px 10px;
    background-color: rgba(255, 255, 255, .6);
}

.G-05:hover .subNav>:nth-child(2) {
    width: 12vw;
    transform: translate(-20vw, -20vh);
    padding: 50px;
    height: auto;
    box-shadow: 10px 10px 10px;
    background-color: rgba(255, 255, 255, .6)
}

.G-05:hover .subNav>:nth-child(3) {
    width: 12vw;
    transform: translate(-20vw, 10vh);
    padding: 50px;
    height: auto;
    box-shadow: 10px 10px 10px;
    background-color: rgba(255, 255, 255, .6)
}

.G-05:hover .subNav>:last-child {
    width: 12vw;
    transform: translate(11vw, 10vh);
    padding: 50px;
    height: auto;
    box-shadow: 10px 10px 10px;
    background-color: rgba(255, 255, 255, .6)
}


@keyframes animate {
    0% {
        opacity: 0;
        left: 5vw;
        transform: rotateY(90deg);
        filter: blur(10px)
    }

    100% {
        opacity: 1;
        left: 45vw;
        transform: rotateY(0deg);
        filter: blur(0)
    }

}
























































































































































































































































/* JAY's PART END */

/* JAVIER's PART START */
























































































































































































































































/* JAVIER's PART END  */

/* STEFAN's PART START */

.stefan {
    grid-area: stefan;
    position: relative;
    /* width: 100vw; */
    height: 90vh;
    /* padding: 5rem; */
    background: radial-gradient(circle, var(--secondColor), var(--thirdColor));
}
.containerHeaderS{
    
}

.containerHeaderS div:nth-child(1), .containerHeaderS div:nth-child(2){
    font-size: 3rem;
    color: var(--secondColor);
    overflow: hidden;
    white-space: nowrap;
    margin: 2rem 0;
    display: inline-block;
}

/* .firstPartS */
.containerHeaderS div:nth-child(1) {
    animation: showup 7s infinite;
}
 
.containerHeaderS div:nth-child(2) {
    width: 0px;
    animation: reveal 7s infinite;
}

.sublineS span {
    margin-left: -355px;
    animation: slidein 7s infinite;
    color: var(--secondColor);
}

.wrapperIconS {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-size: 8rem;
}
#logoDCIS {
    opacity: 0.04;
    position: absolute;
    height: 60%;
    bottom: 20%; /*?????????????????????*/
}


@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 355px;
    }

    80% {
        opacity: 1;
        width: 800px;
    }

    100% {
        opacity: 0;
        width: 800px;
    }
}











































































































































































/* STEFAN's PART END */

/* ISAAC's PART START */



































/* ISAAC's PART END */











































































































































































































/* ISAAC's PART END */
